---
import Layout from '../../layouts/Layout.astro';

// Data
import ouHealthData from '../../data/ouHealthData.json';
import universityData from '../../data/universityData.json';
import ymcaData from '../../data/ymcaData.json';
import expressData from '../../data/expressData.json';
import artsCouncilData from '../../data/artsCouncilData.json';
import ohlovelyoneData from '../../data/ohlovelyoneData.json';

export function getStaticPaths() {
  return [
    {params: {project: 'ou-health'}},
    {params: {project: 'university-of-oklahoma'}},
    {params: {project: 'ymca'}},
    {params: {project: 'express-employment-professionals'}},
    {params: {project: 'arts-council-okc'}},
    {params: {project: 'ohlovelyone'}},
  ];
}

const { project } = Astro.params;

---

<Layout title="Projects | Miranda Wilson">  
  <div class="container u-padding--top--md">
    {
      (() => {
        switch(project) {
          case 'ou-health': return ouHealthData.map((content) => 
            (
              <h1>{content.projectTitle}</h1>
            )
          );
          case 'university-of-oklahoma': return universityData.map((content) => 
            (
              <h1>{content.projectTitle}</h1>
            )
          );
          case 'ymca': return ymcaData.map((content) => 
            (
              <h1>{content.projectTitle}</h1>
            )
          );
          case 'express-employment-professionals': return expressData.map((content) => 
            (
              <h1>{content.projectTitle}</h1>
            )
          );
          case 'arts-council-okc': return artsCouncilData.map((content) => 
            (
              <h1>{content.projectTitle}</h1>
            )
          );
          case 'ohlovelyone': return ohlovelyoneData.map((content) => 
            (
              <h1>{content.projectTitle}</h1>
            )
          ) ;
          default: return null;
        }
      })()
    }
  </div>
</Layout>