---
import Layout from '../../layouts/Layout.astro';
import Project from '../../components/Project.astro';
import Pagination from '../../components/Pagination.astro';

// Data
import ouHealthData from '../../data/ouHealthData.json';
import universityData from '../../data/universityData.json';
import ymcaData from '../../data/ymcaData.json';
import expressData from '../../data/expressData.json';
import artsCouncilData from '../../data/artsCouncilData.json';
import ohlovelyoneData from '../../data/ohlovelyoneData.json';

// Image imports
// import ouHealthLogo from '../../images/ou-health-logo.png';
// import ouSchoolLogo from '../../images/ou-school-logo.png';
import ymcaLogo from '../../images/ymca-logo.png';
import expressLogo from '../../images/express-logo.png';
import acLogo from '../../images/ac-logo.png';
import ohlovelyoneLogo from '../../images/ohlovelyone-logo.png';

// OU Health
import ceo from '../../images/ou-health/ceo-announcement.png';
import chiefPhysician from '../../images/ou-health/chief-physician-exec-announcement.png';
import companyMerger from '../../images/ou-health/company-merger.png';
import covidCommunications from '../../images/ou-health/covid-communications.png';
import doctorsMessage from '../../images/ou-health/doctors-day-message.png';
import dpTraining from '../../images/ou-health/dp-training.png';
import nurseUpdate from '../../images/ou-health/nursing-update.png';
import nurseUpdateOne from '../../images/ou-health/nursing-update-1.png';
import pulseOne from '../../images/ou-health/pulse-version-1.png';
import pulseTwo from '../../images/ou-health/pulse-version-2.png';
import pulseThree from '../../images/ou-health/pulse-version-3.png';
import roboticSurgery from '../../images/ou-health/robotic-surgery.png';
import thunderHealthcare from '../../images/ou-health/thunder-healthcare.png';
import towerOpens from '../../images/ou-health/tower-opens.png';
import weatherUpdate from '../../images/ou-health/weather-update.png';

// OU University
import compass2016 from '../../images/ou/compass-2016.jpg';
import compass2017 from '../../images/ou/compass-2017.jpg';
import globalNewsletter from '../../images/ou/global-newsletter-cover.jpg';
import internationalProfile2015 from '../../images/ou/international-profile-2015.jpg';
import internationalProfile2016 from '../../images/ou/international-profile-2016.jpg';
import jgaAffairs from '../../images/ou/jga-affairs.jpg';
import jgaEntries from '../../images/ou/jga-entries.jpg';
import snapshotOne from '../../images/ou/snapshot-1.jpg';
import snapshotTwo from '../../images/ou/snapshot-2.jpg';
import studyAbroadThree from '../../images/ou/study-abroad-3.jpg';
import studyAbroadFour from '../../images/ou/study-abroad-4.jpg';

// YMCA
import ymca1 from '../../images/ymca/YMCA-1.jpg';
import ymca2 from '../../images/ymca/YMCA-2.jpg';
import ymca3 from '../../images/ymca/YMCA-3.jpg';
import ymca4 from '../../images/ymca/YMCA-4.jpg';
import ymca5 from '../../images/ymca/YMCA-5.jpg';
import ymca6 from '../../images/ymca/YMCA-6.jpg';
import ymca7 from '../../images/ymca/YMCA-7.jpg';
import ymca8 from '../../images/ymca/YMCA-8.jpg';
import ymca9 from '../../images/ymca/YMCA-9.jpg';
import ymca10 from '../../images/ymca/YMCA-10.png';

// Express
import express1 from '../../images/express/Express-1.jpg';
import express2 from '../../images/express/Express-2.jpg';
import express3 from '../../images/express/Express-3.jpg';
import express4 from '../../images/express/Express-4.jpg';
import express5 from '../../images/express/Express-5.jpg';
import express6 from '../../images/express/Express-6.jpg';
import express7 from '../../images/express/Express-7.jpg';
import express8 from '../../images/express/Express-8.jpg';
import express9 from '../../images/express/Express-9.jpg';
import express10 from '../../images/express/Express-10.jpg';


// Arts Council
import ac1 from '../../images/arts-council/ac-1.png';
import ac2 from '../../images/arts-council/ac-2.png';
import ac3 from '../../images/arts-council/ac-3.png';
import ac4 from '../../images/arts-council/ac-4.png';
import ac5 from '../../images/arts-council/ac-5.png';
import ac6 from '../../images/arts-council/ac-6.png';
import ac8 from '../../images/arts-council/ac-8.png';
import ac9 from '../../images/arts-council/ac-9.png';
import ac10 from '../../images/arts-council/ac-10.png';
import ac11 from '../../images/arts-council/ac-11.png';

// Ohlovelyone
import booth from '../../images/ohlovelyone/booth.jpg';
import businessCardFront from '../../images/ohlovelyone/business-card-front.png';
import businessCardBack from '../../images/ohlovelyone/business-card-back.png';
import facebookPost from '../../images/ohlovelyone/facebook-post.jpg';
import hangTagFront from '../../images/ohlovelyone/hang-tag-front.png';
import hangTagBack from '../../images/ohlovelyone/hang-tag-back.png';
import igPost from '../../images/ohlovelyone/ig-post.jpg';
import newsletter from '../../images/ohlovelyone/newsletter.jpg';
import newsletterTwo from '../../images/ohlovelyone/newsletter-2.jpg';
import sticker from '../../images/ohlovelyone/sticker.png';
import websiteFull from '../../images/ohlovelyone/website-full.png';

export function getStaticPaths() {
  return [
    {params: {project: 'ou-health'}},
    {params: {project: 'university-of-oklahoma'}},
    {params: {project: 'ymca'}},
    {params: {project: 'express-employment-professionals'}},
    {params: {project: 'arts-council-okc'}},
    {params: {project: 'ohlovelyone'}},
  ];
}

const { project } = Astro.params;

---

<Layout title="Projects | Miranda Wilson">  
  <div class="container u-padding--top--md">
    {
      (() => {
        switch(project) {
          case 'ou-health': return ouHealthData.map((content) => 
            (
             <Project>      
               <div class="c-project__images" slot="project-images">
                 <h2 class="u-padding--bottom--xs">Executive Communications</h2>
                 <a href="https://www.ouhealth.com/blog/2022/february/ou-health-names-richard-lofgren-m-d-mph-as-ceo-a/" target="_blank">         
                   <img src={ceo.src} alt="New CEO Announcement"> 
                 </a>
                 
                  <a href="https://www.ouhealth.com/blog/2021/october/ou-health-names-chief-physician-executive-presid/" target="_blank">         
                    <img src={chiefPhysician.src} alt="Chief Physician Exec Announcement"> 
                  </a>
                  
                  <h2 class="u-padding--bottom--xs">Change Management</h2>
                  <a href="https://www.ouhealth.com/blog/2021/june/historic-signing-creates-new-health-system-for-o/" target="_blank">         
                    <img src={companyMerger.src} alt="Company Merger"> 
                  </a>
                  
                  <a href="https://www.ouhealth.com/blog/2020/november/ou-health-university-of-oklahoma-medical-center-/" target="_blank">         
                    <img src={towerOpens.src} alt="New Hospital Tower Opens"> 
                  </a>       
                  
                  <h2 class="u-padding--bottom--xs">Crisis Communications</h2>
                  <img src={covidCommunications.src} alt="COVID Communications">
                  
                  <a href="https://www.ouhealth.com/blog/2022/february/ou-health-clinic-inclement-weather-updates/?fbclid=IwAR0lgWYzu3klfAjfwJkRvES2ZNwUjiBsXJZtkv79K5LJoEqNqTEz8rzgMjc" target="_blank">         
                    <img src={weatherUpdate.src} alt="Inclement Weather Update"> 
                  </a>                                    
                  
                  <h2 class="u-padding--bottom--xs">Employee Engagement</h2>
                  <img src={doctorsMessage.src} alt="Doctors Day Message">
                  
                  <a href="https://www.facebook.com/OUHealth/videos/437405816798136" target="_blank">         
                    <img src={thunderHealthcare.src} alt="Thunder Healthcare Champion"> 
                  </a>
                  
                  <h2 class="u-padding--bottom--xs">Nurse Updates</h2>
                  <img src={nurseUpdate.src} alt="Nurse Updates">
                  <img src={nurseUpdateOne.src} alt="Nurse Updates">
                  
                  <h2 class="u-padding--bottom--xs">Digital Communications</h2>
                  <img src={pulseOne.src} alt="Pulse Version One">
                  <img src={pulseTwo.src} alt="Pulse Version Two">
                  <img src={pulseThree.src} alt="Pulse Version Three">
                  
                  <h2 class="u-padding--bottom--xs">Content Creation</h2>
                  <a href="https://www.facebook.com/OUHealth/videos/866868380176071" target="_blank">         
                    <img src={roboticSurgery.src} alt="Robotic Surgery"> 
                  </a>
                  
                  <a href="https://www.facebook.com/OUHealth/videos/966987390158306" target="_blank">         
                    <img src={dpTraining.src} alt="Disaster Preparedness Training"> 
                  </a>
               </div>        
               
               <div class="c-project__meta" slot="project-meta">
                 <div class="c-project__description u-margin--bottom--sm" slot="project-description">
                   <h1 class="c-project__title u-margin--bottom--sm">{content.projectTitle}</h1>
                   <p>{content.projectDescription}</p>
                 </div>
                 
                 <div class="u-margin--bottom--sm">
                   <h4>Objective</h4>
                   <p>To align internal communications and marketing with OU Health’s business objectives, building pride of place and employee engagement through the communication of important news, policies, and updates to more than 11,000 employees.</p>
                 </div>
                 
                 <div class="c-project__meta--wrap">                                         
                   <div class="c-project__meta--block">
                     <h4 class="u-margin--bottom--xs">Services Provided</h4>
                     <ul>
                       <li>Team Management</li>
                       <li>Project Management</li>
                       <li>Executive Communications</li>
                       <li>Employee Engagement</li>
                       <li>Crisis Communications</li>
                       <li>Change Management</li>
                       <li>Brand Management</li>
                       <li>Analytics</li>
                       <li>Customer Service</li>
                       <li>Communication & Marketing Plan Development</li>
                       <li>Strategy Development  & Alignment</li>
                       <li>Writing</li>
                       <li>Editing</li>
                       <li>Email Marketing</li>
                       <li>List Management</li>
                     </ul>
                   </div>
                   
                   <div class="c-project__meta--block">
                     <h4 class="u-margin--bottom--xs">Technology Used</h4>
                     <ul>
                       <li>Microsoft Office</li>
                       <li>Adobe Photoshop</li>
                       <li>Mailchimp</li>
                       <li>Staffbase</li>
                       <li>Workamajig</li>
                       <li>Google Tools</li>
                       <li>Outlook</li>
                       <li>Zoom</li>
                       <li>Microsoft Teams</li>
                       <li>Monday.com</li>
                     </ul>
                   </div>
                   
                   <div class="c-project__meta--block">
                     <h4 class="u-margin--bottom--xs">Industry</h4>
                     <ul>
                       <li>Healthcare</li>
                     </ul>
                   </div>                                  
                 </div>                                  
               </div> 
             </Project>
             <Pagination projectTitle="ou-health" nextLink="/projects/university-of-oklahoma" />
            )
          );
          case 'university-of-oklahoma': return universityData.map((content) => 
            (
             <Project>              
               <div class="c-project__images" slot="project-images">                 
                  <h2 class="u-padding--bottom--xs">Compass</h2>
                  <a href="https://issuu.com/oucis/docs/2016_compass_final" target="_blank">                  
                    <img src={compass2016.src} alt="Compass 2016"> 
                  </a>
                  
                  <a href="https://issuu.com/oucis/docs/compass_final" target="_blank">
                    <img src={compass2017.src} alt="Compass 2017"> 
                  </a>
                  
                  <h2 class="u-padding--bottom--xs">Global OU Study Centers Newsletter</h2>   
                  <a href="https://globalou.tumblr.com/" target="_blank">
                    <img src={globalNewsletter.src} alt="Global Newsletter">
                  </a>
                  
                  <h2 class="u-padding--bottom--xs">International Profile</h2>   
                  <a href="https://issuu.com/oucis/docs/2015_international_profile" target="_blank">
                    <img src={internationalProfile2015.src} alt="International Profile 2015">
                  </a>          
                  <a href="https://issuu.com/oucis/docs/2016_international_profile_e5a107be7b1658" target="_blank">   
                    <img src={internationalProfile2016.src} alt="International Profile 2016">  
                  </a>
                  
                  <h2 class="u-padding--bottom--xs">Journal of Global Affairs</h2>   
                  <a href="https://issuu.com/oucis/docs/jga_2016" target="_blank">
                   <img src={jgaAffairs.src} alt="JGA Affairs">    
                  </a>         
                  <img src={jgaEntries.src} alt="JGA Entries">                                        
                    
                  <h2 class="u-padding--bottom--xs">The Virtures of Study Abroad </h2> 
                  <a href="https://issuu.com/oucis/docs/virtues_2016_" target="_blank">  
                    <img src={studyAbroadThree.src} alt="Snapshot"> 
                  </a>   
                  <a href="https://issuu.com/oucis/docs/virtues_volume_iv" target="_blank">         
                    <img src={studyAbroadFour.src} alt="Snapshot">    
                  </a>
                  
                  <h2 class="u-padding--bottom--xs">Snapshot</h2>   
                  <img src={snapshotOne.src} alt="Snapshot">             
                  <img src={snapshotTwo.src} alt="Snapshot">
               </div>
               
               <div class="c-project__meta" slot="project-meta">
                 <div class="c-project__description u-margin--bottom--sm" slot="project-description">
                    <h1 class="c-project__title u-margin--bottom--sm">{content.projectTitle}</h1>
                    <p>{content.projectDescription}</p>
                  </div>
                  
                 <div class="u-margin--bottom--sm">
                   <h4>Objective</h4>
                   <p>To promote OU’s College of International Studies to current and prospective students and donors by highlighting the education, degrees, and study abroad opportunities offered.</p>
                 </div>
                 
                 <div class="c-project__meta--wrap">                                         
                   <div class="c-project__meta--block">
                     <h4>Services Provided</h4>
                     <ul>
                      <li>Project Management</li>
                      <li>Brand Management</li>
                      <li>Content Creation</li>
                      <li>Media Relations</li>
                      <li>Advertising & Promotion</li>
                      <li>Internal Communications</li>
                      <li>Writing</li>
                      <li>Editing</li>
                      <li>Fundraising Support</li>
                      <li>Advertising and Promotion</li>
                      <li>Student Recruitment</li>
                      <li>Customer Service</li>                      
                     </ul>
                   </div>
                   
                   <div class="c-project__meta--block">
                     <h4>Technologies Used</h4>
                     <ul>
                       <li>Microsoft Office</li>
                       <li>Adobe Photoshop</li>
                       <li>Google Tools</li>                       
                       <li>Outlook</li>
                     </ul>
                   </div>
                   
                   <div class="c-project__meta--block">
                     <h4>Industry</h4>
                     <ul>
                       <li>Higher Education</li>
                     </ul>
                   </div>                                  
                 </div>                                  
               </div> 
             </Project>
             <Pagination previousLink="/projects/ou-health" nextLink="/projects/arts-council-okc" />
            )
          );
          case 'ymca': return ymcaData.map((content) => 
            (
              <Project>      
                <div class="c-project__images" slot="project-images">
                  <img src={ymcaLogo.src} alt="Project image"> 
                  
                  <h2 class="u-padding--bottom--xs">Media Relations</h2>   
                  <a href="https://www.oklahoman.com/story/lifestyle/health-fitness/2013/04/14/ymcas-annual-community-campaign-raises-11-million/60981908007/" target="_blank">
                    <img src={ymca10.src} alt="YMCA"> 
                  </a>
                  
                  <h2 class="u-padding--bottom--xs">Brand Management</h2>
                  <a href={ymca1.src} target="_blank">
                    <img src={ymca1.src} alt="YMCA"> 
                  </a>
                  
                  <a href={ymca2.src} target="_blank">
                  <img src={ymca2.src} alt="YMCA"> 
                  </a>
                  
                  <a href={ymca3.src} target="_blank">
                    <img src={ymca3.src} alt="YMCA"> 
                  </a>
                  
                  <a href={ymca4.src} target="_blank">
                    <img src={ymca4.src} alt="YMCA"> 
                  </a>
                  
                  <h2 class="u-padding--bottom--xs">Content Creation & Layout</h2>
                  <a href={ymca5.src} target="_blank">
                    <img src={ymca5.src} alt="YMCA"> 
                  </a>
                  
                  <a href={ymca6.src} target="_blank">
                    <img src={ymca6.src} alt="YMCA"> 
                  </a>
                
                  <h2 class="u-padding--bottom--xs">Advertising</h2>
                  <a href={ymca7.src} target="_blank">
                    <img src={ymca7.src} alt="YMCA"> 
                  </a>
                  
                  <a href={ymca8.src} target="_blank">
                    <img src={ymca8.src} alt="YMCA"> 
                  </a>
                  
                  <h2 class="u-padding--bottom--xs">Social Media</h2>
                  <a href={ymca9.src} target="_blank">
                    <img src={ymca9.src} alt="YMCA"> 
                  </a>
                  
                </div>        
                
                <div class="c-project__meta" slot="project-meta">
                  <div class="c-project__description u-margin--bottom--sm" slot="project-description">
                    <h1 class="c-project__title u-margin--bottom--sm">{content.projectTitle}</h1>
                    <p>{content.projectDescription}</p>
                  </div>
                  
                  <div class="u-margin--bottom--sm">
                    <h4>Objective</h4>
                    <p>To share the mission and activities of the Y with members, employees, donors, and the community while raising awareness about the Y’s dedication to healthy living, youth development, and social responsibility.</p>
                  </div>
                  
                  <div class="c-project__meta--wrap">                                         
                    <div class="c-project__meta--block">
                      <h4 class="u-margin--bottom--xs">Services Provided</h4>
                      <ul> 
                        <li>Brand promotion</li> 
                        <li>Community Engagement</li> 
                        <li>Membership Marketing</li> 
                        <li>Digital Marketing</li> 
                        <li>Event Planning & Management</li> 
                        <li>Media Relations</li> 
                        <li>Social Media Management</li> 
                        <li>Website Management</li> 
                        <li>Content Creation</li> 
                        <li>Storytelling</li> 
                        <li>Fundraising Initiatives</li> 
                        <li>Partnership Development</li> 
                        <li>Social Media</li> 
                      </ul>
                    </div>
                    
                    <div class="c-project__meta--block">
                      <h4 class="u-margin--bottom--xs">Technology Used</h4>
                      <ul>                        
                        <li>Microsoft Office</li>
                        <li>Outlook</li>
                        <li>Adobe Photoshop</li>
                      </ul>
                    </div>
                    
                    <div class="c-project__meta--block">
                      <h4 class="u-margin--bottom--xs">Industry</h4>
                      <ul>
                        <li>Nonprofit</li>
                        <li>Health and Wellness</li>
                      </ul>
                    </div>                                  
                  </div>                                  
                </div> 
              </Project>
              <Pagination previousLink="/projects/arts-council-okc" nextLink="/projects/express-employment-professionals" />
            )
          );          
          case 'express-employment-professionals': return expressData.map((content) => 
            (
              <Project>      
                <div class="c-project__images" slot="project-images">  
                  <h2 class="u-padding--bottom--xs">Digital Communications</h2>
                  <a href={express2.src} target="_blank">
                   <img src={express2.src} alt="Express"> 
                  </a>
                  
                  <h2 class="u-padding--bottom--xs">Franchisee Interviews & Content</h2>                                                  
                  <a href={express1.src} target="_blank">
                   <img src={express1.src} alt="Express"> 
                  </a> 
                  
                  <a href={express6.src} target="_blank">
                   <img src={express6.src} alt="Express"> 
                  </a>
                  
                  <a href={express7.src} target="_blank">
                   <img src={express7.src} alt="Express"> 
                  </a>                                  
                  
                  <h2 class="u-padding--bottom--xs">Job Seeker Resources</h2>
                  <a href={express3.src} target="_blank">
                   <img src={express3.src} alt="Express"> 
                  </a>
                  
                  <a href={express4.src} target="_blank">
                   <img src={express4.src} alt="Express"> 
                  </a>
                  
                  <a href={express5.src} target="_blank">
                   <img src={express5.src} alt="Express"> 
                  </a>                                    
                  
                  <h2 class="u-padding--bottom--xs">Sales Team Support</h2>
                  <a href={express8.src} target="_blank">
                   <img src={express8.src} alt="Express"> 
                  </a>
                  
                  <a href={express9.src} target="_blank">
                   <img src={express9.src} alt="Express"> 
                  </a>
                 
                 <h2 class="u-padding--bottom--xs">Event Communications</h2>
                  <a href={express10.src} target="_blank">
                    <img src={express10.src} alt="Express"> 
                  </a>                                  
                </div>        
                
                <div class="c-project__meta" slot="project-meta">
                  <div class="c-project__description u-margin--bottom--sm" slot="project-description">
                    <h1 class="c-project__title u-margin--bottom--sm">{content.projectTitle}</h1>
                    <p>{content.projectDescription}</p>
                  </div>
                  
                  <div class="u-margin--bottom--sm">
                    <h4>Objective</h4>
                    <p>To enhance the Express brand and build brand awareness among franchisees, potential franchisees, job seekers, and businesses worldwide.</p>
                  </div>
                  
                  <div class="c-project__meta--wrap">                                         
                    <div class="c-project__meta--block">
                      <h4 class="u-margin--bottom--xs">Services Provided</h4>
                      <ul> 
                        <li>Content Creation</li> 
                        <li>Social Media Management</li> 
                        <li>Digital Communications</li> 
                        <li>Writing</li> 
                        <li>Editing</li> 
                        <li>Email Marketing</li> 
                        <li>Blogging</li> 
                        <li>Event Management</li> 
                        <li>Project Management</li> 
                        <li>Franchise Sales Support</li> 
                        <li>Franchise Training</li> 
                        <li>Conducting, Recording & Editing Audio Interviews</li> 
                      </ul>
                    </div>
                    
                    <div class="c-project__meta--block">
                      <h4 class="u-margin--bottom--xs">Technology Used</h4>
                      <ul>                        
                        <li>Microsoft Office</li>
                        <li>Outlook</li>
                        <li>Adobe Photoshop</li>
                        <li>Constant Contact</li>
                        <li>Audio Recording/Editing Equipment</li>
                      </ul>
                    </div>
                    
                    <div class="c-project__meta--block">
                      <h4 class="u-margin--bottom--xs">Industry</h4>
                      <ul>
                        <li>Staffing</li>
                        <li>Employment Services</li>
                      </ul>
                    </div>                                  
                  </div>                                  
                </div> 
              </Project>
              <Pagination previousLink="/projects/ymca" nextLink="/projects/ohlovelyone" />
            )
          );
          case 'arts-council-okc': return artsCouncilData.map((content) => 
            (
              <Project>      
                <div class="c-project__images" slot="project-images">
                  <h2 class="u-padding--bottom--xs">Rebrand</h2>
                  <img src={acLogo.src} alt="Rebrand"> 
                  
                  <h2 class="u-padding--bottom--xs">Media</h2>
                  <a href="https://docs.google.com/document/d/11IyvwOj6khijEak3hL6f0GwxYL-gu4FaPZPb0gmqChU/edit?usp=drive_link" target="_blank">         
                   <img src={ac1.src} alt="Media"> 
                  </a>
                  
                  <a href="https://docs.google.com/document/d/10bBMzgKdNnOyuKhYmSImLSUox5aYSkbY25baCSdJzog/edit?usp=drive_link" target="_blank">         
                    <img src={ac2.src} alt="Media"> 
                  </a>
                  
                  <a href="https://www.oklahoman.com/story/entertainment/columns/brandy-mcdonnell/2014/04/18/oklahoma-citys-festival-of-the-arts-gets-greener/60831134007/" target="_blank">  
                    <img src={ac3.src} alt="Media"> 
                  </a>
                  
                  <a href="https://journalrecord.com/2014/04/around-town-festival-of-arts-rich-tradition-opinion/" target="_blank">         
                    <img src={ac4.src} alt="Media"> 
                  </a>
                  
                  <a href="https://okcfriday.com/spring-has-sprung-festival-of-the-arts-is-right-behind-p8769-92.htm" target="_blank">         
                    <img src={ac5.src} alt="Media"> 
                  </a>
                  
                  <a href="https://kfor.com/news/festival-of-the-arts-prepares-to-welcome-thousands-to-downtown-okc/" target="_blank">         
                    <img src={ac6.src} alt="Media"> 
                  </a>
                  
                  <h2 class="u-padding--bottom--xs">Festival of the Arts</h2>
                  <img src={ac8.src} alt="Festival of the Arts">                                   
                  <img src={ac9.src} alt="Festival of the Arts">                                     
                  
                  <h2 class="u-padding--bottom--xs">Storytelling Festival</h2>
                  <a href="https://www.youtube.com/watch?v=FughdRWtdF4 " target="_blank">                   
                    <img src={ac11.src} alt="Storytelling Festival"> 
                    <img src={ac10.src} alt="Storytelling Festival"> 
                  </a>                                    
                </div>                                        
                
                <div class="c-project__meta" slot="project-meta">
                  <div class="c-project__description u-margin--bottom--sm" slot="project-description">
                    <h1 class="c-project__title u-margin--bottom--sm">{content.projectTitle}</h1>
                    <p>{content.projectDescription}</p>
                  </div>
                  
                  <div class="u-margin--bottom--sm">
                    <h4>Objective</h4>
                    <p>To help build and promote the organization's public image, foster community engagement, and effectively communicate its cultural initiatives.</p>
                  </div>
                  
                  <div class="c-project__meta--wrap">                                         
                    <div class="c-project__meta--block">
                      <h4 class="u-margin--bottom--xs">Services Provided</h4>
                      <ul> 
                        <li>Marketing</li>
                        <li>Public Relations</li>
                        <li>Media Relations</li>
                        <li>Social Media Management</li>
                        <li>Event Promotion</li>
                        <li>Internal Communications</li>
                        <li>Content Creation</li>
                        <li>Email marketing</li>
                        <li>Media buying</li>
                      </ul>
                    </div>
                    
                    <div class="c-project__meta--block">
                      <h4 class="u-margin--bottom--xs">Technology Used</h4>
                      <ul>                        
                        <li>Microsoft Office</li>
                        <li>Outlook</li>
                        <li>Adobe Photoshop</li>
                        <li>Mailchimp</li>
                      </ul>
                    </div>
                    
                    <div class="c-project__meta--block">
                      <h4 class="u-margin--bottom--xs">Industry</h4>
                      <ul>
                        <li>Arts and Entertainment</li>
                      </ul>
                    </div>                                  
                  </div>                                  
                </div> 
              </Project>
              <Pagination previousLink="/projects/university-of-oklahoma" nextLink="/projects/ymca" />
            )
          );
          case 'ohlovelyone': return ohlovelyoneData.map((content) => 
            (
              <Project>      
                <div class="c-project__images" slot="project-images">
                  <h2>Logo</h2>
                  <img src={ohlovelyoneLogo.src} alt="Project logo"> 
                  
                  <h2 class="u-padding--bottom--xs">Business Card</h2>
                  <img src={businessCardFront.src} alt="Business Card Front"> 
                  <img src={businessCardBack.src} alt="Business Card Back">
                   
                  <h2 class="u-padding--bottom--xs">Hang Tag</h2>
                  <img src={hangTagFront.src} alt="Branding"> 
                  <img src={hangTagBack.src} alt="Branding">
                   
                  <h2 class="u-padding--bottom--xs">Social Media</h2>
                  <img src={facebookPost.src} alt="Facebook Post"> 
                  <a href="https://www.instagram.com/shopohlovelyone/" target="_blank"><img src={igPost.src} alt="Instagram Post"></a>
                  
                  <h2 class="u-padding--bottom--xs">Newsletter</h2>
                  <img src={newsletter.src} alt="Newsletter"> 
                  <img src={newsletterTwo.src} alt="Newsletter">
                   
                  <h2 class="u-padding--bottom--xs">Sticker</h2>
                  <img src={sticker.src} alt="Sticker">
                   
                  <h2 class="u-padding--bottom--xs">Website</h2>
                  <a href="https://ohlovelyone.com/" target="_blank"><img src={websiteFull.src} alt="Website"></a>
                  
                  <h2 class="u-padding--bottom--xs">Retail Space</h2>
                  <img src={booth.src} alt="Booth Space"> 
                </div>        
                
                <div class="c-project__meta" slot="project-meta">
                  <div class="c-project__description u-margin--bottom--sm" slot="project-description">
                    <h1 class="c-project__title u-margin--bottom--sm">{content.projectTitle}</h1>
                    <p>{content.projectDescription}</p>
                  </div>
                  
                  <div class="u-margin--bottom--sm">
                    <h4>Objective</h4>
                    <p>To develop a dynamic brand that showcases fun, color, warmth, and style while embodying the vision and business goals of Ohlovelyone.</p>
                  </div>
                  
                  <div class="c-project__meta--wrap">                                         
                    <div class="c-project__meta--block">
                      <h4 class="u-margin--bottom--xs">Services Provided</h4>
                      <ul>
                        <li>Brand Development</li>
                        <li>Web Design</li>
                        <li>Marketing</li>
                        <li>Social Media Management</li>
                        <li>Project Management</li>
                        <li>Ongoing Maintenance</li>
                        <li>Customer Service</li>
                        <li>Vendor Relations</li>
                        <li>Email marketing</li>
                      </ul>
                    </div>
                    
                    <div class="c-project__meta--block">
                      <h4 class="u-margin--bottom--xs">Technology Used</h4>
                      <ul>
                        <li>Adobe Photoshop</li>
                        <li>Canva</li>
                        <li>Shopify</li>
                        <li>Mailchimp</li>
                        <li>Trello</li>
                        <li>Social Media</li>
                        <li>Google Tools</li>
                      </ul>
                    </div>
                    
                    <div class="c-project__meta--block">
                      <h4 class="u-margin--bottom--xs">Industry</h4>
                      <ul>
                        <li>Retail</li>
                        <li>E-Commerce</li>
                        <li>Fashion</li>
                      </ul>
                    </div>                                  
                  </div>                                  
                </div> 
              </Project>
              <Pagination projectTitle="ohlovelyone" previousLink="/projects/express-employment-professionals" />
            )
          ) ;
          default: return null;
        }
      })()
    }
  </div>
</Layout>