---
import Layout from '../../layouts/Layout.astro';
import Project from '../../components/Project.astro';
import Pagination from '../../components/Pagination.astro';

// Data
import ouHealthData from '../../data/ouHealthData.json';
import universityData from '../../data/universityData.json';
import ymcaData from '../../data/ymcaData.json';
import expressData from '../../data/expressData.json';
import artsCouncilData from '../../data/artsCouncilData.json';
import ohlovelyoneData from '../../data/ohlovelyoneData.json';

// Image imports
import ouHealthLogo from '../../images/ou-health-logo.png';
import ouSchoolLogo from '../../images/ou-school-logo.png';
import ymcaLogo from '../../images/ymca-logo.png';
import expressLogo from '../../images/express-logo.png';
import acLogo from '../../images/ac-logo.png';
import ohlovelyoneLogo from '../../images/ohlovelyone-logo.png';

// OU Health
import hub from '../../images/ou-health/Hub.png';

// OU University
import compass2016 from '../../images/ou/compass-2016.jpg';
import compass2017 from '../../images/ou/compass-2017.jpg';
import globalNewsletter from '../../images/ou/global-newsletter-cover.jpg';
import internationalProfile2015 from '../../images/ou/international-profile-2015.jpg';
import internationalProfile2016 from '../../images/ou/international-profile-2016.jpg';
import jgaAffairs from '../../images/ou/jga-affairs.jpg';
import jgaEntries from '../../images/ou/jga-entries.jpg';
import snapshotOne from '../../images/ou/snapshot-1.jpg';
import snapshotTwo from '../../images/ou/snapshot-2.jpg';
import studyAbroadThree from '../../images/ou/study-abroad-3.jpg';
import studyAbroadFour from '../../images/ou/study-abroad-4.jpg';

// Ohlovelyone
import booth from '../../images/ohlovelyone/booth.jpg';
import businessCardFront from '../../images/ohlovelyone/business-card-front.png';
import businessCardBack from '../../images/ohlovelyone/business-card-back.png';
import facebookPost from '../../images/ohlovelyone/facebook-post.jpg';
import hangTagFront from '../../images/ohlovelyone/hang-tag-front.png';
import hangTagBack from '../../images/ohlovelyone/hang-tag-back.png';
import igPost from '../../images/ohlovelyone/ig-post.jpg';
import newsletter from '../../images/ohlovelyone/newsletter.jpg';
import newsletterTwo from '../../images/ohlovelyone/newsletter-2.jpg';
import sticker from '../../images/ohlovelyone/sticker.png';
import websiteFull from '../../images/ohlovelyone/website-full.png';

export function getStaticPaths() {
  return [
    {params: {project: 'ou-health'}},
    {params: {project: 'university-of-oklahoma'}},
    {params: {project: 'ymca'}},
    {params: {project: 'express-employment-professionals'}},
    {params: {project: 'arts-council-okc'}},
    {params: {project: 'ohlovelyone'}},
  ];
}

const { project } = Astro.params;

---

<Layout title="Projects | Miranda Wilson">  
  <div class="container u-padding--top--md">
    {
      (() => {
        switch(project) {
          case 'ou-health': return ouHealthData.map((content) => 
            (
             <Project>      
               <div class="c-project__images" slot="project-images">
                 <img src={hub.src} alt="Project image"> 
               </div>        
               
               <div class="c-project__meta" slot="project-meta">
                 <div class="c-project__description u-margin--bottom--sm" slot="project-description">
                   <h1 class="c-project__title u-margin--bottom--sm">{content.projectTitle}</h1>
                   <p>{content.projectDescription}</p>
                 </div>
                 
                 <div class="u-margin--bottom--sm">
                   <h4>Objective</h4>
                   <p>To align internal communications and marketing with OU Health’s business objectives and build pride of place and employee engagement by communicating important news, policies, and updates to more than 11,000 employees.</p>
                 </div>
                 
                 <div class="c-project__meta--wrap">                                         
                   <div class="c-project__meta--block">
                     <h4 class="u-margin--bottom--xs">Services Provided</h4>
                     <ul>
                       <li>Brand Development</li>
                       <li>Web Design</li>
                       <li>Marketing</li>
                       <li>Social Media Management</li>
                       <li>Project Management</li>
                       <li>Ongoing Maintenance</li>
                     </ul>
                   </div>
                   
                   <div class="c-project__meta--block">
                     <h4 class="u-margin--bottom--xs">Technology Used</h4>
                     <ul>
                       <li>Microsoft Office</li>
                       <li>Adobe Photoshop</li>
                       <li>Mailchimp</li>
                       <li>Staffbase</li>
                       <li>Workamajig</li>
                       <li>Google Tools</li>
                       <li>Outlook</li>
                       <li>Zoom</li>
                       <li>Microsoft Teams</li>
                     </ul>
                   </div>
                   
                   <div class="c-project__meta--block">
                     <h4 class="u-margin--bottom--xs">Industry</h4>
                     <ul>
                       <li>Healthcare</li>
                     </ul>
                   </div>                                  
                 </div>                                  
               </div> 
             </Project>
              <Pagination projectTitle="ou-health" nextLink="/projects/university-of-oklahoma" />
            )
          );
          case 'university-of-oklahoma': return universityData.map((content) => 
            (
             <Project>              
               <div class="c-project__images" slot="project-images">                 
                  <h2 class="u-padding--bottom--xs">Compass</h2>
                  <a href="https://issuu.com/oucis/docs/2016_compass_final" target="_blank">                  
                    <img src={compass2016.src} alt="Compass 2016"> 
                  </a>
                  <a href="https://issuu.com/oucis/docs/compass_final" target="_blank">
                    <img src={compass2017.src} alt="Compass 2017"> 
                  </a>
                  <h2 class="u-padding--bottom--xs">Global OU Study Centers Newsletter</h2>   
                  <a href="https://globalou.tumblr.com/" target="_blank">
                    <img src={globalNewsletter.src} alt="Global Newsletter">
                  </a> 
                  <h2 class="u-padding--bottom--xs">International Profile</h2>   
                  <a href="https://issuu.com/oucis/docs/2015_international_profile" target="_blank">
                    <img src={internationalProfile2015.src} alt="International Profile 2015">
                  </a>          
                  <a href="https://issuu.com/oucis/docs/2016_international_profile_e5a107be7b1658" target="_blank">   
                    <img src={internationalProfile2016.src} alt="International Profile 2016">  
                  </a>
                  <h2 class="u-padding--bottom--xs">Journal of Global Affairs</h2>   
                  <a href="https://issuu.com/oucis/docs/jga_2016" target="_blank">
                   <img src={jgaAffairs.src} alt="JGA Affairs">    
                  </a>         
                  <img src={jgaEntries.src} alt="JGA Entries">    
                  <h2 class="u-padding--bottom--xs">Snapshot</h2>   
                  <img src={snapshotOne.src} alt="Snapshot">             
                  <img src={snapshotTwo.src} alt="Snapshot">     
                  <h2 class="u-padding--bottom--xs">The Virtures of Study Abroad </h2> 
                  <a href="https://issuu.com/oucis/docs/virtues_2016_" target="_blank">  
                    <img src={studyAbroadThree.src} alt="Snapshot"> 
                  </a>   
                  <a href="https://issuu.com/oucis/docs/virtues_volume_iv" target="_blank">         
                    <img src={studyAbroadFour.src} alt="Snapshot">    
                  </a>
               </div>
               
               <div class="c-project__meta" slot="project-meta">
                 <div class="c-project__description u-margin--bottom--sm" slot="project-description">
                    <h1 class="c-project__title u-margin--bottom--sm">{content.projectTitle}</h1>
                    <p>{content.projectDescription}</p>
                  </div>
                  
                 <div class="u-margin--bottom--sm">
                   <h4>Objective</h4>
                   <p>To promote OU’s College of International Studies to current, prospective students and donors by highlighting the education, degrees and study abroad opportunities offered.</p>
                 </div>
                 
                 <div class="c-project__meta--wrap">                                         
                   <div class="c-project__meta--block">
                     <h4>Services Provided</h4>
                     <ul>
                      <li>Project Management</li>
                      <li>Brand Management</li>
                      <li>Content Creation</li>
                      <li>Media Relations</li>
                      <li>Internal Communications</li>
                      <li>Fundraising</li>
                      <li>Advertising and Promotion</li>
                      <li>Student Recruitment</li>
                      <li>Customer Service</li>
                     </ul>
                   </div>
                   
                   <div class="c-project__meta--block">
                     <h4>Technologies Used</h4>
                     <ul>
                       <li>Microsoft Office</li>
                       <li>Adobe Photoshop</li>
                       <li>Google Tools</li>                       
                       <li>Outlook</li>
                     </ul>
                   </div>
                   
                   <div class="c-project__meta--block">
                     <h4>Industry</h4>
                     <ul>
                       <li>Higher Education</li>
                     </ul>
                   </div>                                  
                 </div>                                  
               </div> 
             </Project>
             <Pagination previousLink="/projects/ou-health" nextLink="/projects/ymca" />
            )
          );
          case 'ymca': return ymcaData.map((content) => 
            (
              <Project>      
                <div class="c-project__images" slot="project-images">
                  <img src={ymcaLogo.src} alt="Project image"> 
                </div>        
                
                <div class="c-project__meta" slot="project-meta">
                  <div class="c-project__description u-margin--bottom--sm" slot="project-description">
                    <h1 class="c-project__title u-margin--bottom--sm">{content.projectTitle}</h1>
                    <p>{content.projectDescription}</p>
                  </div>
                  
                  <div class="u-margin--bottom--sm">
                    <h4>Objective</h4>
                    <p>To share the mission and activities of the YMCA with members, employees, donors and the community, while raising awareness about the Y’s dedication to healthy living, youth development and social responsibility.</p>
                  </div>
                  
                  <div class="c-project__meta--wrap">                                         
                    <div class="c-project__meta--block">
                      <h4 class="u-margin--bottom--xs">Services Provided</h4>
                      <ul> 
                        <li>Brand promotion</li> 
                        <li>Community Engagement</li> 
                        <li>Membership Marketing</li> 
                        <li>Digital Marketing</li> 
                        <li>Event Promotion</li> 
                        <li>Media Relations</li> 
                        <li>Social Media Management</li> 
                        <li>Website Management</li> 
                        <li>Content Creation</li> 
                        <li>Fundraising Initiatives</li> 
                        <li>Partnership Development</li> 
                      </ul>
                    </div>
                    
                    <div class="c-project__meta--block">
                      <h4 class="u-margin--bottom--xs">Technology Used</h4>
                      <ul>                        
                        <li>Microsoft Office</li>
                        <li>Outlook</li>
                        <li>Adobe Photoshop</li>
                      </ul>
                    </div>
                    
                    <div class="c-project__meta--block">
                      <h4 class="u-margin--bottom--xs">Industry</h4>
                      <ul>
                        <li>Nonprofit</li>
                        <li>Health and Wellness</li>
                      </ul>
                    </div>                                  
                  </div>                                  
                </div> 
              </Project>
              <Pagination previousLink="/projects/university-of-oklahoma" nextLink="/projects/express-employment-professionals" />
            )
          );          
          case 'express-employment-professionals': return expressData.map((content) => 
            (
              <Project>      
                <div class="c-project__images" slot="project-images">
                  <img src={expressLogo.src} alt="Project image"> 
                </div>        
                
                <div class="c-project__meta" slot="project-meta">
                  <div class="c-project__description u-margin--bottom--sm" slot="project-description">
                    <h1 class="c-project__title u-margin--bottom--sm">{content.projectTitle}</h1>
                    <p>{content.projectDescription}</p>
                  </div>
                  
                  <div class="u-margin--bottom--sm">
                    <h4>Objective</h4>
                    <p>To enhance the Express brand and build its image among franchisees, potential franchisees, job seekers and businesses across the world.</p>
                  </div>
                  
                  <div class="c-project__meta--wrap">                                         
                    <div class="c-project__meta--block">
                      <h4 class="u-margin--bottom--xs">Services Provided</h4>
                      <ul> 
                        <li>Content Creation</li> 
                        <li>Social Media Management</li> 
                        <li>Digital Communications</li> 
                        <li>Writing</li> 
                        <li>Event Management</li> 
                        <li>Project Planning</li> 
                        <li>Franchise Sales Support</li> 
                        <li>Franchise Training</li> 
                        <li>Conducting, Recording, and Editing Audio Interviews</li> 
                      </ul>
                    </div>
                    
                    <div class="c-project__meta--block">
                      <h4 class="u-margin--bottom--xs">Technology Used</h4>
                      <ul>                        
                        <li>Microsoft Office</li>
                        <li>Outlook</li>
                        <li>Adobe Photoshop</li>
                        <li>Constant Contact</li>
                        <li>Audio Recording/Editing Equipment</li>
                      </ul>
                    </div>
                    
                    <div class="c-project__meta--block">
                      <h4 class="u-margin--bottom--xs">Industry</h4>
                      <ul>
                        <li>Staffing</li>
                        <li>Employment Services</li>
                      </ul>
                    </div>                                  
                  </div>                                  
                </div> 
              </Project>
              <Pagination previousLink="/projects/ymca" nextLink="/projects/arts-council-okc" />
            )
          );
          case 'arts-council-okc': return artsCouncilData.map((content) => 
            (
              <Project>      
                <div class="c-project__images" slot="project-images">
                  <img src={acLogo.src} alt="Project image"> 
                </div>        
                
                <div class="c-project__meta" slot="project-meta">
                  <div class="c-project__description u-margin--bottom--sm" slot="project-description">
                    <h1 class="c-project__title u-margin--bottom--sm">{content.projectTitle}</h1>
                    <p>{content.projectDescription}</p>
                  </div>
                  
                  <div class="u-margin--bottom--sm">
                    <h4>Objective</h4>
                    <p>To build the organization's public image, foster community engagement, and effectively communicate the organization’s cultural initiatives.</p>
                  </div>
                  
                  <div class="c-project__meta--wrap">                                         
                    <div class="c-project__meta--block">
                      <h4 class="u-margin--bottom--xs">Services Provided</h4>
                      <ul> 
                        <li>Marketing</li>
                        <li>Public Relations</li>
                        <li>Media Relations</li>
                        <li>Social Media Management</li>
                        <li>Event Promotion</li>
                        <li>Internal Communications</li>
                        <li>Content Creation</li>
                      </ul>
                    </div>
                    
                    <div class="c-project__meta--block">
                      <h4 class="u-margin--bottom--xs">Technology Used</h4>
                      <ul>                        
                        <li>Microsoft Office</li>
                        <li>Outlook</li>
                        <li>Adobe Photoshop</li>
                        <li>Mailchimp</li>
                      </ul>
                    </div>
                    
                    <div class="c-project__meta--block">
                      <h4 class="u-margin--bottom--xs">Industry</h4>
                      <ul>
                        <li>Arts and Entertainment</li>
                      </ul>
                    </div>                                  
                  </div>                                  
                </div> 
              </Project>
              <Pagination previousLink="/projects/express-employment-professionals" nextLink="/projects/ohlovelyone" />
            )
          );
          case 'ohlovelyone': return ohlovelyoneData.map((content) => 
            (
              <Project>      
                <div class="c-project__images" slot="project-images">
                  <h2>Logo</h2>
                  <img src={ohlovelyoneLogo.src} alt="Project logo"> 
                  <h2 class="u-padding--bottom--xs">Business Card</h2>
                  <img src={businessCardFront.src} alt="Business Card Front"> 
                  <img src={businessCardBack.src} alt="Business Card Back"> 
                  <h2 class="u-padding--bottom--xs">Hang Tag</h2>
                  <img src={hangTagFront.src} alt="Branding"> 
                  <img src={hangTagBack.src} alt="Branding"> 
                  <h2 class="u-padding--bottom--xs">Social Media</h2>
                  <img src={facebookPost.src} alt="Facebook Post"> 
                  <a href="https://www.instagram.com/shopohlovelyone/" target="_blank"><img src={igPost.src} alt="Instagram Post"></a>
                  <h2 class="u-padding--bottom--xs">Newsletter</h2>
                  <img src={newsletter.src} alt="Newsletter"> 
                  <img src={newsletterTwo.src} alt="Newsletter"> 
                  <h2 class="u-padding--bottom--xs">Sticker</h2>
                  <img src={sticker.src} alt="Sticker"> 
                  <h2 class="u-padding--bottom--xs">Website</h2>
                  <a href="https://ohlovelyone.com/" target="_blank"><img src={websiteFull.src} alt="Website"></a>
                  <h2 class="u-padding--bottom--xs">Retail Space</h2>
                  <img src={booth.src} alt="Booth Space"> 
                </div>        
                
                <div class="c-project__meta" slot="project-meta">
                  <div class="c-project__description u-margin--bottom--sm" slot="project-description">
                    <h1 class="c-project__title u-margin--bottom--sm">{content.projectTitle}</h1>
                    <p>{content.projectDescription}</p>
                  </div>
                  
                  <div class="u-margin--bottom--sm">
                    <h4>Objective</h4>
                    <p>To develop a dynamic brand that showcases fun, color, warmth, and style while embodying the vision and business goals of Ohlovelyone.</p>
                  </div>
                  
                  <div class="c-project__meta--wrap">                                         
                    <div class="c-project__meta--block">
                      <h4 class="u-margin--bottom--xs">Services Provided</h4>
                      <ul>
                        <li>Brand Development</li>
                        <li>Web Design</li>
                        <li>Marketing</li>
                        <li>Social Media Management</li>
                        <li>Project Management</li>
                        <li>Ongoing Maintenance</li>
                      </ul>
                    </div>
                    
                    <div class="c-project__meta--block">
                      <h4 class="u-margin--bottom--xs">Technology Used</h4>
                      <ul>
                        <li>Adobe Photoshop</li>
                        <li>Canva</li>
                        <li>Shopify</li>
                        <li>Mailchimp</li>
                        <li>Trello</li>
                        <li>Google Tools</li>
                      </ul>
                    </div>
                    
                    <div class="c-project__meta--block">
                      <h4 class="u-margin--bottom--xs">Industry</h4>
                      <ul>
                        <li>Retail</li>
                        <li>E-Commerce</li>
                        <li>Fashion</li>
                      </ul>
                    </div>                                  
                  </div>                                  
                </div> 
              </Project>
              <Pagination projectTitle="ohlovelyone" previousLink="/projects/arts-council-okc" />
            )
          ) ;
          default: return null;
        }
      })()
    }
  </div>
</Layout>