---
import Layout from '../../layouts/Layout.astro';
import Project from '../../components/Project.astro';
import Pagination from '../../components/Pagination.astro';

// Data
import ouHealthData from '../../data/ouHealthData.json';
import universityData from '../../data/universityData.json';
import ymcaData from '../../data/ymcaData.json';
import expressData from '../../data/expressData.json';
import artsCouncilData from '../../data/artsCouncilData.json';
import ohlovelyoneData from '../../data/ohlovelyoneData.json';

// Image imports
import ouHealthLogo from '../../images/ou-health-logo.png';
import ouSchoolLogo from '../../images/ou-school-logo.png';
import ymcaLogo from '../../images/ymca-logo.png';
import expressLogo from '../../images/express-logo.png';
import acLogo from '../../images/ac-logo.png';

export function getStaticPaths() {
  return [
    {params: {project: 'ou-health'}},
    {params: {project: 'university-of-oklahoma'}},
    {params: {project: 'ymca'}},
    {params: {project: 'express-employment-professionals'}},
    {params: {project: 'arts-council-okc'}},
    {params: {project: 'ohlovelyone'}},
  ];
}

const { project } = Astro.params;

---

<Layout title="Projects | Miranda Wilson">  
  <div class="container u-padding--top--md">
    {
      (() => {
        switch(project) {
          case 'ou-health': return ouHealthData.map((content) => 
            (
              <Project 
                title={content.projectTitle} 
                description={content.projectDescription} 
                imageOne={ouHealthLogo}
                industry={content.industry} 
              >
                <div class="c-project__meta" slot="project-meta">
                  <div class="u-margin--bottom--sm">
                    <h4>Objective</h4>
                    <p>To align internal communications and marketing with OU Health’s business objectives and build pride of place and employee engagement by communicating important news, policies, and updates to more than 11,000 employees.</p>
                  </div>                  
                  
                  <div class="c-project__meta--wrap">                                              
                    <div class="c-project__meta--block">
                      <h4>Services Provided</h4>
                      <ul>
                        <li>Team Management</li>
                        <li>Project Management</li>
                        <li>Communication + Marketing Plan Development</li>
                        <li>Executive Communications</li>
                        <li>Employee Engagement</li>
                        <li>Writing</li>
                        <li>Editing</li>
                        <li>Crisis Communications</li>
                        <li>Change Management</li>
                        <li>Brand Management</li>
                        <li>Technology Integration</li>
                        <li>Strategy Development + Alignment</li>
                        <li>Analytics</li>
                        <li>Customer Service</li>
                      </ul>
                    </div>
                    
                    <div class="c-project__meta--block">
                      <h4>Technologies Used</h4>
                      <ul>
                        <li>Microsoft Office</li>
                        <li>Adobe Photoshop</li>
                        <li>Mailchimp</li>
                        <li>Staffbase</li>
                        <li>Workamajig</li>
                        <li>Google Tools</li>
                        <li>Outlook</li>
                        <li>Zoom</li>
                        <li>Microsoft Teams</li>
                      </ul>
                    </div>
                    
                    <div class="c-project__meta--block">
                      <h4>Industry</h4>
                      <ul>
                        <li>Healthcare</li>
                      </ul>
                    </div>                                        
                  </div>                                  
                </div>                                
              </Project>
              <Pagination projectTitle="ou-health" nextLink="/projects/university-of-oklahoma" />
            )
          );
          case 'university-of-oklahoma': return universityData.map((content) => 
            (
             <Project 
               title={content.projectTitle} 
               description={content.projectDescription} 
               imageOne={ouSchoolLogo} 
               industry={content.industry}
             >              
               <div class="c-project__meta" slot="project-meta">
                 <div class="u-margin--bottom--sm">
                   <h4>Objective</h4>
                   <p>To promote OU’s College of International Studies to current, prospective students and donors by highlighting the education, degrees and study abroad opportunities offered.</p>
                 </div>
                 
                 <div class="c-project__meta--wrap">                                         
                   <div class="c-project__meta--block">
                     <h4>Services Provided</h4>
                     <ul>
                      <li>Project Management</li>
                      <li>Brand Management</li>
                      <li>Content Creation</li>
                      <li>Media Relations</li>
                      <li>Internal Communications</li>
                      <li>Fundraising</li>
                      <li>Advertising and Promotion</li>
                      <li>Student Recruitment</li>
                      <li>Customer Service</li>
                     </ul>
                   </div>
                   
                   <div class="c-project__meta--block">
                     <h4>Technologies Used</h4>
                     <ul>
                       <li>Microsoft Office</li>
                       <li>Adobe Photoshop</li>
                       <li>Google Tools</li>                       
                       <li>Outlook</li>
                     </ul>
                   </div>
                   
                   <div class="c-project__meta--block">
                     <h4>Industry</h4>
                     <ul>
                       <li>Higher Education</li>
                     </ul>
                   </div>                                  
                 </div>                                  
               </div> 
             </Project>
             <Pagination previousLink="/projects/ou-health" nextLink="/projects/ymca" />
            )
          );
          case 'ymca': return ymcaData.map((content) => 
            (
              <Project title={content.projectTitle} description={content.projectDescription} imageOne={ymcaLogo} />
              <Pagination previousLink="/projects/university-of-oklahoma" nextLink="/projects/express-employment-professionals" />
            )
          );
          case 'express-employment-professionals': return expressData.map((content) => 
            (
              <Project title={content.projectTitle} description={content.projectDescription} imageOne={expressLogo} />
              <Pagination previousLink="/projects/ymca" nextLink="/projects/arts-council-okc" />
            )
          );
          case 'arts-council-okc': return artsCouncilData.map((content) => 
            (
              <Project title={content.projectTitle} description={content.projectDescription} imageOne={acLogo} />
              <Pagination previousLink="/projects/express-employment-professionals" nextLink="/projects/ohlovelyone" />
            )
          );
          case 'ohlovelyone': return ohlovelyoneData.map((content) => 
            (
              <Project 
                title={content.projectTitle} 
                description={content.projectDescription} 
                imageOne={content.projectImageOne} 
                industry={content.industry}
              >              
                <div class="c-project__meta" slot="project-meta">
                  <div class="u-margin--bottom--sm">
                    <h4>Objective</h4>
                    <p>To develop a dynamic brand that showcases fun, color, warmth, and style while embodying the vision and business goals of Ohlovelyone.</p>
                  </div>
                  
                  <div class="c-project__meta--wrap">                                         
                    <div class="c-project__meta--block">
                      <h4>Services Provided</h4>
                      <ul>
                        <li>Brand Development</li>
                        <li>Web Design</li>
                        <li>Marketing</li>
                        <li>Social Media Management</li>
                        <li>Project Management</li>
                        <li>Ongoing Maintenance</li>
                      </ul>
                    </div>
                    
                    <div class="c-project__meta--block">
                      <h4>Technologies Used</h4>
                      <ul>
                        <li>Adobe Photoshop</li>
                        <li>Canva</li>
                        <li>Shopify</li>
                        <li>Mailchimp</li>
                        <li>Trello</li>
                        <li>Google Tools</li>
                      </ul>
                    </div>
                    
                    <div class="c-project__meta--block">
                      <h4>Industry</h4>
                      <ul>
                        <li>Retail</li>
                        <li>E-Commerce</li>
                        <li>Fashion</li>
                      </ul>
                    </div>                                  
                  </div>                                  
                </div> 
              </Project>
              <Pagination projectTitle="ohlovelyone" previousLink="/projects/arts-council-okc" />
            )
          ) ;
          default: return null;
        }
      })()
    }
  </div>
</Layout>